* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: rgb(240, 240, 150);
}
.genesis {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
}
.mobile-menu {
  display: none;
  padding: 20px;
  background-color: rgb(111, 109, 105);
  width: 55%;
  height: 52vh;
  box-shadow: 2px 2px rgb(111, 109, 105);
  border-radius: 10px;
  z-index: 9999;
  position: absolute;
  top: 80px;
  left: 10px;
  right: 10px;
}
.mobile-menu.active {
  display: block;
}
.mobile-menu li {
  list-style: none;
}
.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  margin-top: 20px;
}
.genesis img {
  width: 3%;
  height: 50px;
  border-radius: 50%;
}
.genesis h1 {
  color: rgb(187, 72, 30);
}
.nav-link {
  display: none;
}
.list-items {
  display: flex;
  font-size: xx-large;
  gap: 50px;
}
.list-items a {
  text-decoration: none;
}
.list-items :hover {
  color: white;
  background-color: rgb(228, 188, 87);
  border-radius: 10px 5px;
}
.home {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 40px;
  background-color: whitesmoke;
  margin: 0px 55px;
  margin-top: 100px;
  border-radius: 25px;
  padding-left: 20px;
}
.home img {
  height: 70vh;
  border-radius: 15px;
}
.first {
}
.first h2 {
  font-size: 28px;
  display: flex;
  align-content: center;
}
.first h3 {
  font-size: 28px;
  font-style: italic;
  color: rgb(236, 170, 3);
}
.first p {
  font-size: 23px;
  margin-top: 50px;
}
.click {
  margin-top: 30px;
  font-size: 20px;
  background-color: rgb(230, 192, 98);
  width: 180px;
  height: 7vh;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.click a {
  text-decoration: none;
  color: whitesmoke;
}
.about {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.exodus {
  display: flex;
  justify-content: space-between;

  justify-content: center;
  gap: 50px;
  padding: 0px 40px;
  background-color: whitesmoke;
  margin: 0px 55px;
  margin-top: 100px;
  border-radius: 25px;
  margin-bottom: 50px;
}
.exodus img {
  margin-top: 30px;
  height: 70vh;
  border-radius: 10% 25%;
}
.chapter p {
  font-size: 25px;
  margin-top: 30px;
}
.chapter h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  margin-bottom: 40px;
}
.verse {
  font-size: 14px;
}
.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background-color: rgba(218, 165, 32, 0.685);
  width: 20%;
  border-radius: 10px 5%;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.link {
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-top: 30px;
}
.leviticus {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}
.services {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.task {
  width: 30%;
  height: 22vh;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 5px gray;
}
.contact-us {
  background-color: whitesmoke;
  margin: 0px 55px;
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact h2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 25px;
}
.reach-us {
  display: flex;
  gap: 390px;

  margin-top: 100px;
}
.dial {
  padding-left: 80px;
  font-size: 23px;
}
.question input {
  width: 200%;
  height: 12vh;
  border-radius: 10px;
}
.submit {
  background-color: rgb(228, 188, 87);
  width: 140px;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.submit a {
  text-decoration: none;
  color: whitesmoke;
}
.footer {
  background-color: rgb(228, 188, 87);
  height: 400px;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .genesis h1 {
    font-size: large;
  }
  .genesis img {
    width: 5%;
    height: 30px;
    display: flex;
  }
  .list-items {
    font-size: large;
    gap: 15px;
    display: flex;
  }
  .home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .home img {
    width: 90%;
  }
  .reach-us {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .question input {
    width: 70%;
    height: 12vh;
    margin-left: 50px;
  }
  .submit {
    margin-left: 50px;
  }
}
@media screen and (max-width: 640px) {
  .genesis img {
    width: 7%;
    height: 27px;
  }
}
@media screen and (max-width: 426px) {
  .hamburger {
    display: block;
    flex-direction: column;
  }

  .nav-link {
    display: block;
  }
  .navbar {
    display: none;
  }
  .exodus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .chapter h2 {
    font-size: 20px;
  }
  .chapter p {
    font-size: 18px;
  }
  .icons {
    width: 50%;
    height: 10vh;
    gap: 10px;
    font-size: 15px;
  }
  .exodus img {
    width: 100%;
    padding-bottom: 60px;
  }
  .task {
    width: 95%;
  }
  .contact-us {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 90px;
    margin-bottom: 100px;
  }
  .contact h2 {
    font-size: large;
    margin-top: 0px;
  }
  .reach-us {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .dial {
    font-size: large;
    padding-top: 0px;
    padding-right: 60px;
  }
  .question input {
    width: 80%;
    height: 12vh;
    margin-left: 30px;
  }
  .submit {
    margin-left: 30px;
  }
}

@media screen and (max-width: 375px) {
  .genesis img {
    width: 10%;
    height: 30px;
  }
}

.footer {
  background-color: rgb(255, 255, 255);
  height: 400px;
}
